.basket_my_wrapper {
  text-align: center;
  position: fixed;
  top: 80px;
  right: 20px;
  z-index: 1140;
}
.basket_image_wrapper {
  border-radius: 30px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  z-index: 1140;
}
.basket_image_wrapper img {
  height: 80%;
  width: auto;
  padding-top: 8px;
}
.counter_wrapper {
  cursor: pointer;
  min-width: 25px;
  height: 25px;
  background-color: #fff;
  color: #d62240;
  border-radius: 30px;
  position: absolute;
  right: -5px;
  top: -5px;
  text-align: center;
  line-height: 27px;
  font-family: Arial, sans-serif;
  margin: 0px 3px;
  z-index: 1150;
}
.basket-cart {
  border: none;
  background-color: transparent;
}
