.m2-black {
  &:nth-child(1) span {
    background: url(../assets/image/m2/black/black1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  &:nth-child(2) span {
    background: url(../assets/image/m2/black/black2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(3) span {
    background: url(../assets/image/m2/black/black3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(4) span {
    background: url(../assets/image/m2/black/black4.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(5) span {
    background: url(../assets/image/m2/black/black5.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(6) span {
    background: url(../assets/image/m2/black/black6.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(7) span {
    background: url(../assets/image/m2/black/black7.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
}

.m2-red {
  &:nth-child(1) span {
    background: url(../assets/image/m2/red/red1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  &:nth-child(2) span {
    background: url(../assets/image/m2/red/red2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(3) span {
    background: url(../assets/image/m2/red/red3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(4) span {
    background: url(../assets/image/m2/red/red4.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(5) span {
    background: url(../assets/image/m2/red/red5.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(6) span {
    background: url(../assets/image/m2/red/red6.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(7) span {
    background: url(../assets/image/m2/red/red7.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
}

.m2-darkBlue {
  &:nth-child(1) span {
    background: url(../assets/image/m2/darkBlue/DarkBlue1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  &:nth-child(2) span {
    background: url(../assets/image/m2/darkBlue/DarkBlue2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(3) span {
    background: url(../assets/image/m2/darkBlue/DarkBlue3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(4) span {
    background: url(../assets/image/m2/darkBlue/DarkBlue4.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(5) span {
    background: url(../assets/image/m2/darkBlue/DarkBlue5.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(6) span {
    background: url(../assets/image/m2/darkBlue/DarkBlue6.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(7) span {
    background: url(../assets/image/m2/darkBlue/DarkBlue7.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
}

.m2-green {
  &:nth-child(1) span {
    background: url(../assets/image/m2/green/green1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  &:nth-child(2) span {
    background: url(../assets/image/m2/green/green2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(3) span {
    background: url(../assets/image/m2/green/green3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(4) span {
    background: url(../assets/image/m2/green/green4.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(5) span {
    background: url(../assets/image/m2/green/green5.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(6) span {
    background: url(../assets/image/m2/green/green6.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(7) span {
    background: url(../assets/image/m2/green/green7.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
}

.m2-pink {
  &:nth-child(1) span {
    background: url(../assets/image/m2/pink/pink1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  &:nth-child(2) span {
    background: url(../assets/image/m2/pink/pink2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(3) span {
    background: url(../assets/image/m2/pink/pink3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(4) span {
    background: url(../assets/image/m2/pink/pink4.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(5) span {
    background: url(../assets/image/m2/pink/pink5.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(6) span {
    background: url(../assets/image/m2/pink/pink6.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(7) span {
    background: url(../assets/image/m2/pink/pink7.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
}

.m2-purple {
  &:nth-child(1) span {
    background: url(../assets/image/m2/purple/purple1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  &:nth-child(2) span {
    background: url(../assets/image/m2/purple/purple2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(3) span {
    background: url(../assets/image/m2/purple/purple3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(4) span {
    background: url(../assets/image/m2/purple/purple4.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(5) span {
    background: url(../assets/image/m2/purple/purple5.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(6) span {
    background: url(../assets/image/m2/purple/purple6.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(7) span {
    background: url(../assets/image/m2/purple/purple7.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
}

.m2-white {
  &:nth-child(1) span {
    background: url(../assets/image/m2/white/white1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  &:nth-child(2) span {
    background: url(../assets/image/m2/white/white2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(3) span {
    background: url(../assets/image/m2/white/white3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(4) span {
    background: url(../assets/image/m2/white/white4.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(5) span {
    background: url(../assets/image/m2/white/white5.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(6) span {
    background: url(../assets/image/m2/white/white6.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(7) span {
    background: url(../assets/image/m2/white/white7.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
}

//M20

.m20-black {
  &:nth-child(1) span {
    background: url(../assets/image/m20/black/black1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  &:nth-child(2) span {
    background: url(../assets/image/m20/black/black2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(3) span {
    background: url(../assets/image/m20/black/black3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(4) span {
    background: url(../assets/image/m20/black/black4.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(5) span {
    background: url(../assets/image/m20/black/black5.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(6) span {
    background: url(../assets/image/m20/black/black6.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(7) span {
    background: url(../assets/image/m20/black/black7.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
}

.m20-cyan {
  &:nth-child(1) span {
    background: url(../assets/image/m20/cyan/Cyan1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  &:nth-child(2) span {
    background: url(../assets/image/m20/cyan/Cyan2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(3) span {
    background: url(../assets/image/m20/cyan/Cyan3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(4) span {
    background: url(../assets/image/m20/cyan/Cyan4.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(5) span {
    background: url(../assets/image/m20/cyan/Cyan5.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(6) span {
    background: url(../assets/image/m20/cyan/Cyan6.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(7) span {
    background: url(../assets/image/m20/cyan/Cyan7.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
}

.m20-pink {
  &:nth-child(1) span {
    background: url(../assets/image/m20/pink/pink1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  &:nth-child(2) span {
    background: url(../assets/image/m20/pink/pink2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(3) span {
    background: url(../assets/image/m20/pink/pink3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(4) span {
    background: url(../assets/image/m20/pink/pink4.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(5) span {
    background: url(../assets/image/m20/pink/pink5.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(6) span {
    background: url(../assets/image/m20/pink/pink6.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(7) span {
    background: url(../assets/image/m20/pink/pink7.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
}

.m20-whiteGold {
  &:nth-child(1) span {
    background: url(../assets/image/m20/whiteGold/WhiteGold1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  &:nth-child(2) span {
    background: url(../assets/image/m20/whiteGold/WhiteGold2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(3) span {
    background: url(../assets/image/m20/whiteGold/WhiteGold3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(4) span {
    background: url(../assets/image/m20/whiteGold/WhiteGold4.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(5) span {
    background: url(../assets/image/m20/whiteGold/WhiteGold5.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(6) span {
    background: url(../assets/image/m20/whiteGold/WhiteGold6.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(7) span {
    background: url(../assets/image/m20/whiteGold/WhiteGold7.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
}

.m20-whiteSilver {
  &:nth-child(1) span {
    background: url(../assets/image/m20/whiteSilver/WhiteSilver1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  &:nth-child(2) span {
    background: url(../assets/image/m20/whiteSilver/WhiteSilver2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(3) span {
    background: url(../assets/image/m20/whiteSilver/WhiteSilver3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(4) span {
    background: url(../assets/image/m20/whiteSilver/WhiteSilver4.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(5) span {
    background: url(../assets/image/m20/whiteSilver/WhiteSilver5.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(6) span {
    background: url(../assets/image/m20/whiteSilver/WhiteSilver6.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  &:nth-child(7) span {
    background: url(../assets/image/m20/whiteSilver/WhiteSilver7.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
}

//точки с выбором цвета

.color-container {
  padding: 10px 0;
  display: contents;
}

.colors {
  padding: 8px 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 74%;
  justify-content: center;
  align-content: center;
}

.color {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 5px 10px;
  border: 2px solid;
  cursor: pointer;
  transition: 0.5s;
}

.color[color="black"] {
  background-color: #000000;
  border-color: #000000;
}

.color[color="red"] {
  background-color: #c03643;
  border-color: #c03643;
}

.color[color="pink"] {
  background-color: #cf7c86;
  border-color: #cf7c86;
}

.color[color="purple"] {
  background-color: #683266;
  border-color: #683266;
}

.color[color="white"] {
  background-color: #ffffff;
  border-color: #fffefe;
}
.color[color="aqua"] {
  background-color: #45d5b2;
  border-color: #45d5b2;
}

.color[color="brown"] {
  background-color: #5b3520;
  border-color: #5b3520;
}

.color[color="dark-blue"] {
  background-color: #24263d;
  border-color: #24263d;
}

.color[color="green"] {
  background-color: #43542a;
  border-color: #43542a;
}

.color[color="orange"] {
  background-color: #db4f3e;
  border-color: #db4f3e;
}

.color[color="cyan"] {
  background-color: #8ba9b7;
  border-color: #8ba9b7;
}

.color[color="whitegold"] {
  background-color: #d8ac8b;
  border-color: #d8ac8b;
}

.color[color="whitesilver"] {
  background-color: #adaeb0;
  border-color: #adaeb0;
}

// .active,
// .demo:hover {
//   opacity: 1;
//   border: 0.5px solid rgb(182, 30, 63);
// }
