/*------Блок контакты----------*/
.content-footer {
  // align-items: center;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  color: $color__main_white;
  font-family: $font_Gilroy;
  position: relative;
  // justify-content: flex-end;

  &__title {
    font-size: 28px;
    font-weight: 800;
    line-height: 38px;
    letter-spacing: 0.03em;
    font-family: $font_Manrope;
    z-index: 5;
    padding-top: 10%;

    @media (min-width: $md5+px) {
      padding-top: 25%;

    }
    @media (min-width: $md3+px) {
      font-size: 42px;
      line-height: 75px;
    }

    @media (min-width: $md2+px) {
      padding-top: 10%;

    }
  }

  &__social {
    display: flex;
    justify-content: center;
    & li {
      margin: 0px 34% 35%;
    }
  }

  &__facebook {
    width: 10px;
    height: 18px;
    background: url(../assets/icon/Fb.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__youTube {
    width: 22px;
    height: 22px;
    background: url(../assets/icon/YouTube.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__instagram {
    width: 20px;
    height: 20px;
    background: url(../assets/icon/instagram.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__logo {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $color__main_white;
    // margin-bottom: 10%;
    z-index: 5;
    // @media (min-width: $md2+px) {
    //   margin-bottom: 5%;
    // }
  }

  &__misu-img {
    height: 42px;
    width: 42px;
    margin-right: 2%;
  }

  &__misu-logo {
    font-size: 20px;
    line-height: 30px;
    margin-right: 2%;
    font-family: $font_Dosis;
  }

  &__copyright {
    font-family: $font_Gilroy;
    opacity: 0.7;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    color: $color__main_white;

  }
  &__text-soc {
    font-family: $font_Gilroy;
    opacity: 0.7;
    font-size: 14px;
    line-height: 1px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 0%;
  }

  &__text {
    font-weight: 500;
    font-size: 21px;
    line-height: 27px;
    letter-spacing: 0.126px;
    font-family: $font_Gilroy;
  }
}

.footer-text-wrapper {
  z-index: 5;
  display: flex;
  align-items: center;
  height: 90%;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  padding: 0 15px;
}

// -----Фоновая картинка------//
.page__section_7 {
  position: relative;
}
.content-footer__body {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.content-footer__image {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}
.content-footer__image img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}
