//====================================================================================================

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header__container {
  max-width: 1800px;
  margin: 0px auto;
  background-color: transparent;
  display: flex;
  padding: 0px 35px;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
  position: absolute;
  width: 100%;
  min-width: 100vw;
  @media (min-width: $md3+px) {
    padding: 0px 50px 0 20px;
  }
  @media (min-width: $md2+px) {
    padding: 0px 70px 0 20px;
  }
  a {
    -webkit-tap-highlight-color: transparent;
  }
}

.menu__logo {
  text-transform: uppercase;
  font-size: 24px;
  cursor: pointer;
  font-family: $font_Dosis;
  line-height: 30px;
  letter-spacing: 0em;
  margin-left: 10%;
  font-weight: 400;
  color: $color__main_white;
}
.menu__logo-set {
  @media (min-width: $md2+px) {
    margin: 0 0 0 4%;
  }
}
.menu__logo-set {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  z-index: 3;

  img {
    height: 40px;
    width: 40px;
  }
}

.menu__icon {
  display: none;
  -webkit-tap-highlight-color: transparent;
}

.menu__list > li {
  position: relative;
  margin: 0px 0px 0px 20px;
}
.menu__link {
  color: $color__main_white;
  font-size: 18px;
  white-space: nowrap;
  // чтобы не ломать элемент
}
.menu__link:hover {
  color: $color__main_white-opasity-icon;
}

.menu__sub-list li {
  margin: 0px 0px 10px 0px;
}
.menu__sub-list li:last-child {
  margin: 0;
}

.menu__arrow {
  display: none;
}
/* ----------------------- */
body._touch .menu__list > li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__list > li:nth-child(4) img {
  width: 102px;
  height: 29px;
}
.menu__list > li:nth-child(5) img {
  width: 103px;
  height: 29px;
}

/* ----------------------- */
@media (min-width: $md3+px) {
  .menu__list {
    display: flex;
    align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }
}
@media (max-width: $md3+px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    // margin-bottom: 50%;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: $color__main_white;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: transparent;
    z-index: 2;
  }

  .menu__list > li {
    flex-wrap: wrap;
    margin: 0px 0px 45px 0px;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__link {
    font-size: 24px;
  }
}
