
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-applewatch:before {
    content: "\e900";
    color: #fff;

  }
  .icon-appstore:before {
    content: "\e901";
  }
  .icon-arrowdown:before {
    content: "\e902";
  }

  .icon-doctor:before {
    content: "\e907";
    color: #dd284a;
    width: 19px;
    height: 21px;
  }
  .icon-done:before {
    content: "\e908";
    color: #dd284a;
  }
  .icon-drop:before {
    content: "\e909";
    color: #dd284a;
  }
  .icon-family:before {
    content: "\e90a";
    color: #dd284a;
    font-size: 12px;
  }
  .icon-fb:before {
    content: "\e90b";
    color: #fff;
  }
  .icon-googleplay:before {
    content: "\e90c";
  }
  .icon-heart:before {
    content: "\e90d";
    color: #dd284a;
  }
  .icon-instagram:before {
    content: "\e90e";
    color: #fff;
  }
 
  .icon-medical:before {
    content: "\e914";
    color: #dd284a;
    width: 20px;
    height: 20px;
  }
  .icon-mi .path1:before {
    content: "\e915";
    color: rgb(236, 103, 28);
  }
  .icon-mi .path2:before {
    content: "\e916";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-mi .path3:before {
    content: "\e917";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-mi .path4:before {
    content: "\e918";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
   
  .icon-union:before {
    content: "\e921";
  }
  .icon-word .path1:before {
    content: "\e922";
    color: rgb(221, 40, 74);
    width: 21px;
    height: 21px;
  }
  .icon-word .path2:before {
    content: "\e923";
    margin-left: -1.02734375em;
    color: rgb(221, 40, 74);
    opacity: 0.4;
  }
  .icon-word .path3:before {
    content: "\e924";
    margin-left: -1.02734375em;
    color: rgb(11, 13, 23);
    opacity: 0.4;
  }
  .icon-youtube .path1:before {
    content: "\e925";
    color: rgb(255, 255, 255);
  }
  .icon-youtube .path2:before {
    content: "\e926";
    margin-left: -1em;
    color: rgb(165, 130, 114);
  }
  .icon-youtube .path3:before {
    content: "\e927";
    margin-left: -1em;
    color: none;
  }
  