$color__main_white: rgb(245, 245, 245);
$color__main_white-opasity: #f5f5f5b3;
$color__main_white-opasity-icon: #f5f5f554;
$color__main_black: #0B0D17;
$color__main_red: #ed2340;
$color__main_hover-red: #bd314b;
$color__main_hover-bg-red: rgb(189, 49, 75, 0.03);



$color__main_yelow: #e0d6a5;
$color__main_grey: #18191F;
$color__navy: #655e5e;
$color__light-grey:#D9DBE1;
$color__logo: #233348;
$color__main_black: #0B0D17;
$color__main_beige: #f4f5f7;



$font_Manrope: 'Manrope';
$font_Gilroy: 'Gilroy-Regular';
$font_Gilroy_Medium: 'Gilroy-Medium';
$font_Gilroy_Bold: 'Gilroy-Bold';
$font_Dosis:'Dosis', sans-serif;








  