@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qt6ijs');
  src:  url('fonts/icomoon.eot?qt6ijs#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qt6ijs') format('truetype'),
    url('fonts/icomoon.woff?qt6ijs') format('woff'),
    url('fonts/icomoon.svg?qt6ijs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-applewatch:before {
  content: "\e900";
  color: #fff;
}
.icon-appstore:before {
  content: "\e901";
}
.icon-arrowdown:before {
  content: "\e902";
}
.icon-chat .path1:before {
  content: "\e903";
  color: rgb(221, 40, 74);
}
.icon-chat .path2:before {
  content: "\e904";
  margin-left: -1.0263671875em;
  color: rgb(11, 13, 23);
}
.icon-chat .path3:before {
  content: "\e905";
  margin-left: -1.0263671875em;
  color: rgb(11, 13, 23);
}
.icon-chat .path4:before {
  content: "\e906";
  margin-left: -1.0263671875em;
  color: rgb(11, 13, 23);
}
.icon-doctor:before {
  content: "\e907";
  color: #dd284a;
}
.icon-done:before {
  content: "\e908";
  color: #dd284a;
}
.icon-drop:before {
  content: "\e909";
  color: #dd284a;
}
.icon-family:before {
  content: "\e90a";
  color: #dd284a;
}
.icon-fb:before {
  content: "\e90b";
  color: #fff;
}
.icon-googleplay:before {
  content: "\e90c";
}
.icon-heart:before {
  content: "\e90d";
  color: #dd284a;
}
.icon-instagram:before {
  content: "\e90e";
  color: #fff;
}
.icon-lungs .path1:before {
  content: "\e90f";
  color: rgb(44, 152, 240);
}
.icon-lungs .path2:before {
  content: "\e910";
  margin-left: -1.1015625em;
  color: rgb(44, 152, 240);
}
.icon-lungs .path3:before {
  content: "\e911";
  margin-left: -1.1015625em;
  color: rgb(248, 248, 248);
}
.icon-lungs .path4:before {
  content: "\e912";
  margin-left: -1.1015625em;
  color: rgb(1, 1, 1);
}
.icon-lungs .path5:before {
  content: "\e913";
  margin-left: -1.1015625em;
  color: rgb(1, 1, 1);
}
.icon-medical:before {
  content: "\e914";
  color: #dd284a;
}
.icon-mi .path1:before {
  content: "\e915";
  color: rgb(236, 103, 28);
}
.icon-mi .path2:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mi .path3:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mi .path4:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-thermo .path1:before {
  content: "\e919";
  color: rgb(224, 235, 252);
}
.icon-thermo .path2:before {
  content: "\e91a";
  margin-left: -0.42578125em;
  color: rgb(164, 201, 255);
}
.icon-thermo .path3:before {
  content: "\e91b";
  margin-left: -0.42578125em;
  color: rgb(255, 45, 85);
}
.icon-thermo .path4:before {
  content: "\e91c";
  margin-left: -0.42578125em;
  color: rgb(107, 221, 221);
}
.icon-thermo .path5:before {
  content: "\e91d";
  margin-left: -0.42578125em;
  color: rgb(107, 221, 221);
}
.icon-thermo .path6:before {
  content: "\e91e";
  margin-left: -0.42578125em;
  color: rgb(107, 221, 221);
}
.icon-thermo .path7:before {
  content: "\e91f";
  margin-left: -0.42578125em;
  color: rgb(107, 221, 221);
}
.icon-thermo .path8:before {
  content: "\e920";
  margin-left: -0.42578125em;
  color: rgb(107, 221, 221);
}
.icon-union:before {
  content: "\e921";
}
.icon-word .path1:before {
  content: "\e922";
  color: rgb(221, 40, 74);
}
.icon-word .path2:before {
  content: "\e923";
  margin-left: -1.02734375em;
  color: rgb(221, 40, 74);
  opacity: 0.4;
}
.icon-word .path3:before {
  content: "\e924";
  margin-left: -1.02734375em;
  color: rgb(11, 13, 23);
  opacity: 0.4;
}
.icon-youtube .path1:before {
  content: "\e925";
  color: rgb(255, 255, 255);
}
.icon-youtube .path2:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(165, 130, 114);
}
.icon-youtube .path3:before {
  content: "\e927";
  margin-left: -1em;
  color: none;
}
